/* CSS Document */

body {
    width: 800px;
    padding: 0;
    margin: 3%;
    margin-left: auto;
    margin-right: auto;
    color: #333311;
}
a {
    color: #0044CC;
}
strong {
    color: red;
}

